html,
body,
header,
#intro {
    height: 100%;
}

.top-nav-collapse {
    background-color: #24355C;
}

.pointer {
    cursor: pointer;
}

.site-font {
    font-family: monospace !important
}
.action-button {
    color: black !important
}